{% extends 'index.html' %}
{%load static%}
{% block content %}
    <div class="content-section">
        <h1>User Profile</h1>
        <h3>Your Information</h3>
        <p><strong>Username:</strong> {{ user.username }}</p>
        <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
        <form method="post" class="form-container">
            {% csrf_token %}
            <h2>Edit Profile</h2>
            {{ form.as_p }}  <!-- Render the form fields -->
            <button type="submit" class="btn">Save Changes</button>
        </form>
        
{% endblock %}

{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>Username: {{ user_profile.user.username }}</p>
    <p>Phone Number: {{ user_profile.phone_number }}</p>
    <p>Address: {{ user_profile.address }}</p>
    <p>Date of Birth: {{ user_profile.date_of_birth }}</p>
    <p>Insurance Provider: {{ user_profile.insurance_provider }}</p>
    <p>Insurance Policy Number: {{ user_profile.insurance_policy_number }}</p>
</body>
</html> {% endcomment %}