<aside class="sidebar">
    <h2 class='title'><a href='/' class="sidebar-title">
            Health Plus +</a></h2>

    <ul class="sidebar-menu">
        <li class="sidebar-item">
            <a href='/dashboard' class="sidebar-link">Dashboard</a>
        </li>
        <li class="sidebar-item">
            <a href='/appointments' class="sidebar-link">My Appointments</a>
        </li>
        <li class="sidebar-item">
            <a href='/notifications/' class="sidebar-link">Notifications</a>
        </li>
        <li class="sidebar-item">
            <a href='/reports/' class="sidebar-link">Health Reports</a>
        </li>
        <li class="sidebar-item">
            <a href='/doctors/' class="sidebar-link">Doctors</a>
        </li>
        <li class="sidebar-item">
            <a href='/accounts/profile/' class="sidebar-link">Profile</a>
        </li>

    </ul>
</aside>